.header {
  font-size: 3rem;
  display: flex;
  justify-content: center;
}
.scoreboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid rgb(209, 209, 0);
  width: 25vw;
  height: 8rem;
  background-color: green;
  margin: 1rem auto;
  text-align: center;
  cursor: default;
}
.games,
.points,
.player-names {
  color: rgb(209, 209, 0);
  font-size: 2rem;
  margin: 1rem;
}
.middle {
  color: aliceblue;
  font-size: 1rem;
}
.player-names {
  display: flex;
  flex-direction: column;
}
.name-input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin: auto;
  margin-top: 20vh;
  font-size: 2rem;
}
.name-input input {
  font-size: 2rem;
}
.name-input button {
  padding: 0.5rem;
  font-size: large;
}
.game {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  align-items: center;
}
.board {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  margin: auto;
}
.players {
  display: flex;
  margin: 1rem auto;
  justify-content: center;
  gap: 2rem;
  font-size: 1.5rem;
}
